<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>mdb</title>
    <link rel="stylesheet" href="app.css" />

    <!-- <script src="index.js"></script> -->

  </head>
  <body>

    <header>

      <h1>Mentorship Database</h1>

      <nav>
        <a class="navLink" href="/">Home</a>
        <a class="navLink" href="/add-volunteer">Add Volunteer</a>
        <a class="navLink" href="/add-student">Add Student</a>
        <a class="navLink" href="/new-rel">Add relationship</a>
        <a class="navLink" href="/bulk">Bulk entry</a>
        
      </nav>

    </header>

    <main>

      <h2>Bulk Upload Instructions:</h2>

      <p>
        1. Download the .csv template: TEMPLATE<br/>
        <br/>
        2. Open the file with excel or google sheets<br/>
        <br/>
        3. Edit the file, adding your data, but do not change the headers<br/>
        <br/>
        4. Save the file as a .csv, and upload below
      </p>

      <form method="POST" action="/bulk-upload">
        <label for="file">Choose a .csv file to upload</label>
        <input type="file" id="file" class="form-block" name="upload" accept=".csv">
        <input type="hidden" id="csv" name="csv">
        <br/>
        <button>Upload!</button>
      </form>

      <script>
        const upload = document.getElementById("file");

        let csv = 'hey, now';

        upload.addEventListener("change", function(e){
          const file = e.target.files[0];
          console.log(file);
          const reader = new FileReader();
          reader.readAsText(file);
          reader.onload = function(event){
            csv = event.target.result;
            console.log(csv);
            document.getElementById("csv").value = csv;
          };
        });

      </script>

    </main>

  </body>
</html>
