<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>mdb</title>
    <link rel="stylesheet" href="app.css" />

  </head>
  <body>

    <header>

      <h1>Mentorship Database</h1>

      <nav>
        <a class="navLink" href="/">Home</a>
        <a class="navLink" href="/add-volunteer">Add Volunteer</a>
        <a class="navLink" href="/add-student">Add Student</a>
        <a class="navLink" href="/new-rel">Add relationship</a>
        <a class="navLink" href="#">Bulk entry</a>
        
      </nav>

    </header>

    <main>

      <h2><%= msg %></h2>

    </main>

  </body>
</html>
