header * {
  display: inline;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.ACTIVE {
  color: green;
}

.INACTIVE {
  color: red;
}

.Graduated {
  color: green;
}

.In_school {
  color: blue;
}

.form-block {
  display: block;
}

.form-inline {
  display: inline;
}

.form-div {
  margin-bottom: 20px;
}

.nevermind {
  background-color: green;
  color: white;
}

.delete {
  background-color: red;
  color: white;
}

.hidden {
  display: none;
}